.footer-logos {
  border-top: 1px solid getcolor("grey");

  .logos-container {
    @include bp(500px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    padding: 40px 0px 30px;

    &__col {
      margin-bottom: 10px;
      @include bp(500px) {
        flex: 0 0 49%;
      }

      @include bp(lap) {
        flex: 0 0 24%;
      }

      box-sizing: border-box;

      img {
        display: block;
        width: 100%;
        max-width: 200px;
        @include bp(lap) {
          max-width: 250px;
        }
        margin: 0 auto;
      }
    }
  }
}

.footer-main {
  background-color: getcolor("grey");
  padding: 30px 0px;
  .content-container {
    @include bp(lap) {
      display: flex;
      justify-content: space-between;
    }

    &__col1 {
      text-align: center;
      margin-bottom: 40px;

      box-sizing: border-box;
      @include bp(lap) {
        flex: 1 1 auto;
        text-align: left;
        margin-bottom: 0px;
      }
    }

    &__col2 {
      box-sizing: border-box;
      @include bp(lap) {
        flex: 0 0 auto;
      }
    }
  }

  .footer-logo {
    width: 120px;
    height: 55px;
    background-image: url("../images/wa-white1.webp");
    background-size: contain;

    margin: 0 auto 30px;
    @include bp(lap) {
      margin: 0;
      margin-bottom: 30px;
    }
  }

  .phone-number {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .email-address,
  .phone-number {
    display: block;
    color: getcolor("white");
    text-decoration: none;
  }

  .logos-container {
    display: flex;
    justify-content: space-between;

    max-width: 260px;
    @include bp(lap) {
      max-width: unset;
    }
    margin: 0 auto;

    &__col {
      flex: 0 0 50%;

      img {
        display: block;

        width: 100px;
        margin: 0 auto;
        @include bp(lap) {
          width: 150px;
          margin-left: 10px;
        }

        line-height: 1;
      }
    }
  }
}

.footer-bottom {
  background-color: getcolor("dark_grey");

  padding: 20px 0px 20px;
  .content-container {
    @include bp(lap) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__col1 {
      margin-bottom: 10px;
      @include bp(lap) {
        flex: 1 1 auto;
        margin-bottom: 0px;
      }

      p {
        font-size: 14px;
        color: getcolor("white");
        margin: 0;
        text-align: center;
        @include bp(lap) {
          text-align: left;
        }
      }
    }

    &__col2 {
      text-align: center;
      @include bp(lap) {
        flex: 0 0 150px;
        text-align: right;
      }

      .footer-menu {
        color: getcolor("white");
        font-size: 14px;
      }
    }
  }
}
