// Styles for all WYSIWYG content areas.

.wysiwyg-container {
  margin: 0 auto 0;
  //color: getcolor("green");

  h1 {
    font-weight: 300;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 6rem;

    @include bp(wide) {
      text-align: left;
    }
  }

  h2 {
    text-align: left;
    font-weight: 400;
    //font-size: to-rem(36);
    line-height: 1.4;
    margin-top: 80px;
    margin-bottom: 20px;

    @include bp(wide) {
      text-align: left;
      //  font-size: to-rem(36);
      //@include lhCrop(36);
      line-height: 1.4;
      margin-top: 60px;
      margin-bottom: 20px;
    }
  }

  // This is used on pages like terms and conditions where the h2 tag is the first in this section and does need a top margin.
  > h2:first-child {
    margin-top: 0rem;
  }

  h3 {
    font-size: to-rem(21);
    font-weight: 400;
    line-height: to-rem(32);
    margin: 40px 0 28px;

    @include bp(wide) {
      font-size: to-rem(24);
      line-height: to-rem(32);
    }
  }

  h4 {
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-weight: 400;
    margin-top: 0;

    @include bp(wide) {
    }
  }

  p:empty {
    margin: 0;
  }

  // This is now in the base.sass file
  // a {
  //   text-decoration: underline;
  //   font-weight: 400;
  //   &:hover {
  //     text-decoration: underline;
  //     color: getcolor("white");
  //   }
  // }

  // p:last-of-type {
  //   margin-bottom: 0;
  // }

  &--margin-top {
    margin-top: 4rem;
  }

  .introduction-paragraph {
    font-weight: 500;
    font-size: to-rem(21);
    font-weight: 38px;
    color: getcolor("dark_grey");
    @include bp(wide) {
      font-size: to-rem(24);
      line-height: to-rem(30);
    }
  }

  img {
    display: block;
    margin: 40px 0px;
    max-width: 100%;
    border-radius: $border-radius-lg;
  }

  table {
    border-collapse: collapse;

    th {
      font-weight: 400;
      text-align: left;
      border: solid 0.1rem rgba(255, 255, 255, 0.2);
      padding: 5px;
      @include bp(wide) {
        padding: 10px;
      }
    }

    td {
      text-align: left;
      font-weight: 300;
      padding: 5px;
      border: solid 0.1rem rgba(255, 255, 255, 0.2);
      padding: 5px;
      @include bp(lap) {
        padding: 10px;
      }
    }
  }

  b,
  strong {
    font-weight: 600;
  }

  span.highlight {
    color: getcolor("grey");
    font-weight: 600;
  }

  blockquote {
    margin: 100px 0px;
    border-top: 1px solid getcolor("grey");
    border-bottom: 1px solid getcolor("grey");

    padding: 48px 0px;
    padding-left: 16px;
    @include bp(wide) {
      padding: 56px 0px;
    }

    p {
      font-size: to-rem(38);
      line-height: to-rem(41);
      margin: 0 0 32px;

      @include bp(wide) {
        font-size: to-rem(56);
        line-height: 107%;
        margin: 0 0 40px;
      }
    }

    p:last-of-type {
      margin: 0;
      font-size: to-rem(21);
      font-weight: 400;
      line-height: to-rem(28);

      @include bp(wide) {
        font-size: to-rem(24);
        line-height: to-rem(32);
      }
    }

    position: relative;
    &:before {
      content: "“";
      position: absolute;

      left: 0px;
      font-size: to-rem(41);
      top: 54px;

      @include bp(wide) {
        font-size: to-rem(56);
        left: -20px;
        top: 70px;
      }
    }
  }

  ul {
    list-style: none;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 20px;
    color: getcolor("dark_grey");

    li {
      padding-left: 20px;
      margin-bottom: 5px;
      position: relative;
      color: getcolor("dark_grey");

      font-weight: 400;
      font-size: to-rem(17);
      line-height: to-rem(25);

      @include bp(lap) {
        font-size: to-rem(19);
        line-height: to-rem(28);
      }

      &:before {
        content: "";
        display: block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: getcolor("green");
        position: absolute;
        top: 12px;

        @include bp(lap) {
          top: 14px;
        }
        left: 0;
      }

      ul {
        font-weight: 400;

        li {
          padding-left: 10px;
          font-weight: 400;

          &:before {
            content: "-";
            display: block;
            height: 5px;
            width: 5px;
            background-color: inherit;
            border-radius: none;
            background: $c-body-text;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }

  ol {
    list-style: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: 400;

    li {
      padding-left: 20px;
      margin-bottom: 15px;
      position: relative;
      font-weight: 400;
    }
  }

  iframe {
    width: 100%;
    height: to-rem(500);
    border-radius: $border-radius-lg;
  }
}
