&__content-ads-panel {
  .content-container {
    @include bp(lap) {
      display: flex;
      justify-content: space-between;
    }

    &__col1 {
      margin-bottom: 80px;

      @include bp(lap) {
        flex: 0 0 60%;
        margin-bottom: 0px;
      }
    }

    &__col2 {
      @include bp(lap) {
        flex: 0 0 35%;
      }

     
    }
  }
}
